@import "utils";
@import "fonts";
@import "typography";

body {
  background: $c-gray;
}

.life-quote {
  width: 50%;
  height: 500px;
  margin: auto;
  background-color: rgb(55, 224, 69);
  color: black;

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    font-weight: 700;
  }

  &__btn {
    display: block;
    font-size: 28px;
    margin: auto;
    padding: 5px 25px;
    background-color: aquamarine;
    border: 3px solid transparent;
    border-radius: 10px;
  }

  &__quote {
    width: 80%;
    margin: 30px auto;
    font-size: 29px;
    font-weight: 600;
  }

  &__author {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
  }
}
